@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

div.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

div.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #00a56e;
  filter: drop-shadow(0px 0px 15px rgba(255, 250, 250, 1));
}

/* tailwind can't handler border-image for gradient border */
.gradient-border-bg {
  border: 4px solid;
  border-image: linear-gradient(45deg, #ab814e, #ffe1b9) 1;
}

details summary::-webkit-details-marker {
  display: none;
}

/* vertical-timeline-component */
.vertical-timeline::before {
  background: linear-gradient(45deg, #ab814e, #fffbb9) !important;
  width: 10px !important;
  transform: translateX(-2.5px) !important;
}
.vertical-timeline-element-content {
  box-shadow: 0px 0px !important;
}
.vertical-timeline-element-icon {
  -webkit-box-shadow: 0px 0px !important;
  box-shadow: 0px 0px !important;
}
