@tailwind base;
@tailwind components;
@tailwind utilities;

/* tailwind can't handler border-image for gradient border */
.gradient-border-bg {
  border: 3px solid;
  border-image: linear-gradient(45deg, #ab814e, #ffe1b9) 1;
  padding: 0.7rem 4.3rem;
}

div.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

div.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #00a56e;
  filter: drop-shadow(0px 0px 15px rgba(255, 250, 250, 1));
}

/*
 ** CSS BUAT STRUCTURED TEXT DATOCMS
*/
ul {
  list-style-type: disc;
  list-style-position: inside;
}
ol {
  list-style-type: decimal;
  list-style-position: inside;
}
li p {
  display: inline;
}
